 <footer class="bg-info site-footer h-card">
  <data class="u-url" href="/"></data>

  <div class="wrapper">

    <h2 class="footer-heading">bin jek</h2>

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <ul class="contact-list">
 <li class="p-name">bin jek</li><li><a class="u-email" href="mailto:binbotaro3@gmail.com">binbotaro3@gmail.com</a></li></ul>
      </div>

 <div class="footer-col footer-col-2"><ul class="social-media-list"><li><a href="https://github.com/binbotaro3"><svg class="svg-icon"><use xlink:href="/assets/minima-social-icons.svg#github"></use></svg> <span class="username">binbotaro3</span></a></li><li><a href="https://www.twitter.com/binbotaro3"><svg class="svg-icon"><use xlink:href="/assets/minima-social-icons.svg#twitter"></use></svg> <span class="username">binbotaro3</span></a></li></ul>
</div>

      <div class="footer-col footer-col-3">

      </div>
    </div>

  </div>

</footer>

